<h2 class="ui header padding-left-60">Avisos e Notícias</h2>
<div class="ui inverted section divider width-complete"></div>
<div class="ui divided items padding-left-60">
	<div class="item">
		<a class="ui tiny image">
			<img src="static/images/avatar/jenny.jpg">
		</a>
		<div class="content">
			<a class="header" href=""><h3>Inscrições encerradas</h3></a>
			<div class="description">
				<p>As incrições para os projetos ProEneme e ProRedação 2018 foram encerradas hoje, dia 26 de abril. O lista dos incritos selec...</p>
			</div>
			<div class="extra">
				Qui, 24 de abril, 2018
			</div>
		</div>
	</div>
	<div class="item">
		<a class="ui tiny image">
			<img src="static/images/avatar/jenny.jpg">
		</a>
		<div class="content">
			<a class="header" href=""><h3>Inscrições encerradas</h3></a>
			<div class="description">
				<p>As incrições para os projetos ProEneme e ProRedação 2018 foram encerradas hoje, dia 26 de abril. O lista dos incritos selec...</p>
			</div>
			<div class="extra">
				Qui, 24 de abril, 2018
			</div>
		</div>
	</div>
	<div class="item">
		<a class="ui tiny image">
			<img src="static/images/avatar/jenny.jpg">
		</a>
		<div class="content">
			<a class="header" href=""><h3>Inscrições encerradas</h3></a>
			<div class="description">
				<p>As incrições para os projetos ProEneme e ProRedação 2018 foram encerradas hoje, dia 26 de abril. O lista dos incritos selec...</p>
			</div>
			<div class="extra">
				Qui, 24 de abril, 2018
			</div>
		</div>
	</div>
	<div class="item">
		<a class="ui tiny image">
			<img src="static/images/avatar/jenny.jpg">
		</a>
		<div class="content">
			<a class="header" href=""><h3>Inscrições encerradas</h3></a>
			<div class="description">
				<p>As incrições para os projetos ProEneme e ProRedação 2018 foram encerradas hoje, dia 26 de abril. O lista dos incritos selec...</p>
			</div>
			<div class="extra">
				Qui, 24 de abril, 2018
			</div>
		</div>
	</div>
	<div class="item">
		<a class="ui tiny image">
			<img src="static/images/avatar/jenny.jpg">
		</a>
		<div class="content">
			<a class="header" href=""><h3>Inscrições encerradas</h3></a>
			<div class="description">
				<p>As incrições para os projetos ProEneme e ProRedação 2018 foram encerradas hoje, dia 26 de abril. O lista dos incritos selec...</p>
			</div>
			<div class="extra">
				Qui, 24 de abril, 2018
			</div>
		</div>
	</div>
</div>	
<div style="margin-right: auto; margin-left: auto; width: auto;"> 
	<button class="ui left attached button"><i class="left chevron icon"></i>Recentes</button>
	<button class="right attached ui button">Antigas<i class="right chevron icon"></i></button>
</div>
